@tailwind base;
@tailwind components;
@tailwind utilities;


/* input[type='text'], input[type='password'], input[type='email'] {
    @apply text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500
} */

html{
    scroll-behavior: smooth;
}

body{
    @apply bg-slate-50 scroll-smooth
}

/* Ẩn hai nút mũi tên lên xuống của thẻ input */
@layer components {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
        appearance: none;
    }
}

.userTable {
    @apply bg-white
}

.userTable th{
    @apply border border-b text-base font-medium p-2
}

.userTable td{
    @apply border border-b text-base text-center p-1
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}